<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{core-layout}">
<head>
    <meta charset="UTF-8">
    <title>Hotel Booking</title>
</head>
<body>
<div layout: fragment = "content">
    <h3>Enter location to find hotels!</h3>
    <div class = "ui form">
        <div class = "field">
            <div class="ui search" id="searchInputWrapper">
                <div class="ui icon input">
                    <input class="prompt" type="text" id="searchInput" placeholder="Country, city or postcode...">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<p>There will be a search page.</p>

</body>
</html>